body {
    font-family: Arial;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 28px;
}
span {
    color: grey;
}
img {
    width: 150px;
    height: 150px;
}
section {
    padding: 10px 60px 20px 60px;
}
header {
    padding: 10px 60px 20px 60px;
}